@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary: #000080;
$warning: #fbb818;
$danger: #fc4a1a;
$light: #f1edf7;

$enable-responsive-font-sizes: true;

body {
  font-family: "Poppins", sans-serif !important;
  h6 {
    &.text-muted {
      line-height: 1.6rem;
    }
  }

  .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .modal-content, .modal-header{
    background-color: transparent;
    border: none;
  }
  .modal-header{
    .close{
      color: #fff;
      font-weight: normal;
      opacity: 1;
    }
  }
  
}

button:focus {
  outline: none !important;
}

@import "~bootstrap/scss/bootstrap.scss";

.red-hr {
  border-bottom: 2px solid #ff0000;
  width: 20%;
  margin-bottom: 15px;
}

.active {
  & .nav-link {
    color: #ff0000 !important;
  }
}
